<!DOCTYPE html>
<html lang="pt-br">
<head> 
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> GRUD </title>
   
   <link rel="stylesheet" href="/assets/css/interview.css">
     
</head>
<body>
      
   <div class="primebar">  
  
      <header class="bm" dir="auto" role="heading" aria-level="1">
        <a href="/src/views/index.html" >
          <img src="https://easycomtec.blob.core.windows.net/easycomtec/logo-header.png" title="logo">
            </a>

           <br>  COMMUNICATION <br>& <br>TECHNOLOGY
           
      </header>    
             
   </div>
   
   <div class="navbar">
    <ul class="navbar-left">
      
      <li><a href="/views/interviewLogs.html">Entrevistas Agendadas</a></li>
      <li><a href="/views/interviewRegister.html">Agendar Entrevistas</a></li>
      <li><a class="home" href="/views/painel.html">Home</a></li>
      
    </ul>
    <ul class="navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logoff </a></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Your Account </a></li>
    </ul>
   </div>

   <div class="perfil">
   <form action="" novalidate="novalidate" method="post">
    
 <div class="container"  >

       <label id="agendando" for="agendando">Agende a sua entrevista</label><br>
       <input type="datetime-local" name="logplace" required><br><br> 
       <label id="entrevistador" for="entrevistador">Nome do entrevistador<br><a id="empresa">Empresa</a></label><br>
       <input type="text" name="logplace" required><br><br><br>

       <button type="submit">Agendar entrevista</button>

 </div> 

 </form>   
 

   </div>

</body>
</html>