<form action="" novalidate="novalidate" method="post">
       
  <div class="img-container"> 
  <img src="img/perfil.png" alt="avatar" class="avatar">
  </div>

<div class="container"  >
     <label for="Login">Username</label><br>
     <input type="text" name="logplace" required><br>
     <label for="password">Password</label><br>            
     <input type="password" name="password" required><br><br><br>        
     <button type="submit">Login</button>

</div> 

</form>   

<div class="register">  
  <form action="/register" method="post">
  <input type="submit" id="button" name="register" value="Register">                  
  </form>               
</div> 


<div class="container">
<span class="password"> Forgot <a href="#">password?</a>
<input type="checkbox" checked="checked" name="remenber">
Remenber me
</input>
</span>
</div>

</div>