<head> 
  
  <link rel="stylesheet" href="css/interview.css">
  <link rel="stylesheet" href="css/calendar.css">
    
</head>

   <div class="navbar">
    <ul class="navbar-left">
      
      <li><a href="/interviewLogs">Entrevistas Agendadas</a></li>
      <li><a href="/interviewRegister">Agendar Entrevistas</a></li>
      <li><a class="home" href="/interview">Home</a></li>
      
    </ul>
    <ul class="navbar-right">
      <li><a href="/"><span class="glyphicon glyphicon-user"></span> Logoff </a></li>
      <li><a href="/user"><span class="glyphicon glyphicon-shopping-cart"></span> Your Account </a></li>
    </ul>
   </div>

    
 <div class="container">
 
  <div class="option">
      
    <div class="calendar">

      <select name="entrevistador" id="entrevistador">

        <option selected> BMW Motors</option>
        <option>Mercedes Motors </option>
        <option>Entrevistador 01 </option>
        <option>Entrevistador 02 </option>

      </select>

      <div class="calendar__opts">
        
        <div name="calendar__month" id="calendar__month">
          
          <a><b>Jul</b></a>
         
        </div>
    
        <div name="calendar__year" id="calendar__year">

             <a><b>2021</b></a>

        </div>

      </div>
    
      <div class="calendar__body">

        <div class="calendar__days">
          <div>M</div>
          <div>T</div>
          <div>W</div>
          <div>T</div>
          <div>F</div>
          <div>S</div>
          <div>S</div>
        </div>    
        <div class="calendar__dates">
          <div class="calendar__date calendar__date--grey"><span>27</span></div>
          <div class="calendar__date calendar__date--grey"><span>28</span></div>
          <div class="calendar__date calendar__date--grey"><span>29</span></div>
          <div class="calendar__date calendar__date--grey"><span>30</span></div>
          <div class="calendar__date"><span>1</span></div>
          <div class="calendar__date"><span>2</span></div>
          <div class="calendar__date"><span>3</span></div>
          <div class="calendar__date"><span>4</span></div>
          <div class="calendar__date"><span>5</span></div>
          <div class="calendar__date"><span>6</span></div>
          <div class="calendar__date"><span>7</span></div>
          <div class="calendar__date"><span>8</span></div>
          <div class="calendar__date"><span>9</span></div>
          <div class="calendar__date"><span>10</span></div>
          <div class="calendar__date"><span>11</span></div>
          <div class="calendar__date"><span>12</span></div>
          <div class="calendar__date"><span>13</span></div>
          <div class="calendar__date"><span>14</span></div>
          <div class="calendar__date"><span>15</span></div>
          <div class="calendar__date calendar__date--selected calendar__date--first-date calendar__date--range-start"><span>16</span></div>
          <div class="calendar__date calendar__date--selected calendar__date--last-date"><span>17</span></div>
          <div class="calendar__date calendar__date--selected calendar__date--first-date"><span>18</span></div>
          <div class="calendar__date calendar__date--selected"><span>19</span></div>
          <div class="calendar__date calendar__date--selected"><span>20</span></div>
          <div class="calendar__date calendar__date--selected calendar__date--last-date calendar__date--range-end"><span>21</span></div>
          <div class="calendar__date"><span>22</span></div>
          <div class="calendar__date"><span>23</span></div>
          <div class="calendar__date"><span>24</span></div>
          <div class="calendar__date"><span>25</span></div>
          <div class="calendar__date"><span>26</span></div>
          <div class="calendar__date"><span>27</span></div>
          <div class="calendar__date"><span>28</span></div>
          <div class="calendar__date"><span>29</span></div>
          <div class="calendar__date"><span>30</span></div>
          <div class="calendar__date"><span>31</span></div>
        </div>

      </div>
      
    </div>

  </div>

 </div>



   </div>
