<!DOCTYPE html>
<html lang="pt-br">
<head> 
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> GRUD </title>
   
   <link rel="stylesheet" href="/public/styles/main.css">
   <link rel="pageTwo" href="/pageTwo.html">   
   
</head>
<body>
      
   <div class="primebar">  

      <header class="bm" dir="auto" role="heading" aria-level="1">
         <a href="/index.html" >
            <img src="https://easycomtec.blob.core.windows.net/easycomtec/logo-header.png" title="logo">
         </a>

           <br>  COMMUNICATION <br>& <br>TECHNOLOGY

      </header>    
            
   </div>

    <div class="intro" dir="auto" role="heading" aria-level="2">
   FORMULÁRIO
 PARA PREENCHER 
    VAGAS DE
 DESENVOLVEDORES    
    </div> <br>  

    <div class="Login">

      <form action="" novalidate="novalidate" method="post">
        
         <div class="img-container"> 
         <img src="/public/images/perfil.png" alt="avatar" class="avatar">
         </div>

      <div class="container"  >
            <label for="Login">Username</label><br>
            <input type="text" name="logplace" required><br>
            <label for="password">Password</label><br>            
            <input type="password" name="password" required><br><br><br>        
            <button type="submit">Login</button>

      </div> 

      </form>   
      
      <div class="register">  
         <form action="/src/views/pageTwo.html">
         <input type="submit" id="button" name="register" value="Register">                     
         </form>               
      </div> 

   <div class="container">
    <span class="password"> Forgot <a href="#">password?</a>
      <input type="checkbox" checked="checked" name="remenber">
      Remenber me
      </input>
    </span>
   </div>
   
    </div>

</body>
</html>