<!DOCTYPE html>
<html lang="pt-br">
<head> 
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> GRUD </title>
   
   <link rel="stylesheet" href="/public/styles/partials/pageFour.css">
     
</head>
<body>
      
   <div class="primebar">  
  
      <header class="bm" dir="auto" role="heading" aria-level="1">
        <a href="/src/views/index.html" >
          <img src="https://easycomtec.blob.core.windows.net/easycomtec/logo-header.png" title="logo">
            </a>

           <br>  COMMUNICATION <br>& <br>TECHNOLOGY
           
      </header>    
             
   </div>

    <div class="intro" dir="auto" role="heading" aria-level="2">
   FORMULÁRIO
 PARA PREENCHER 
    VAGAS DE
 DESENVOLVEDORES
    </div>   
   
      <div class="container">

      <form action="" novalidate="novalidate" method="post">

        <div class="option">
        <label for="Login">Username/ Nome do Usuário</label><a id="point">*</a><br><br>
        <input type="text" name="name" required><br><br>
        </div>
         
        <div class="option1">
        <label for="email">Email</label><a id="point">*</a><br><br>          
        <input type="email" name="tel" required><br><br>
        </div>

        <div class="option2">
        <label for="psw">Password/ Senha</label><a id="point">*</a><br><br>           
        <input type="password" name="linkedin" required><br><br> 
        </div>

        <div class="option3">
          <label for="psw">Repeat password/ Repita a senha</label><a id="point">*</a><br><br>            
          <input type="password" name="linkedin" required><br><br> 
        </div>
        
      </form>

        <div class="buttonlocal">
        
          <span class="buttonfront">
  
            <form action="painel.html"> 
              <button>Seguir</button> 
            </form>
          
          </span>
          
          <span class="buttonback">
          
            <form action="/src/views/pageThree.html"> 
              <button>Voltar</button> 
            </form>
         
          </span>
        
        </div>
       
  </div>

</body>
</html>