<!DOCTYPE html>
<html lang="pt-br">
<head> 
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> GRUD </title>
   
   <link rel="stylesheet" href="/public/styles/partials/pageThree.css">
     
</head>
<body>
      
   <div class="primebar">  
  
      <header class="bm" dir="auto" role="heading" aria-level="1">
        <a href="/src/views/index.html" >
      <img src="https://easycomtec.blob.core.windows.net/easycomtec/logo-header.png" title="logo">
        </a>
        
           <br>  COMMUNICATION <br>& <br>TECHNOLOGY
        
      </header>    
           
   </div>

    <div class="intro" dir="auto" role="heading" aria-level="2">
   FORMULÁRIO
 PARA PREENCHER 
    VAGAS DE
 DESENVOLVEDORES
    </div>   

    <div class="container">

        <div class="option" style="font-size: 14px;">

        <strong style="font-size: 17px;">Knowledge / Conhecimentos</strong><br>
        
        <br>
         Rate yourself from 0 to 5 for the knowledge specified below,
         and that's okay if you do not know many things, the important thing is to be honest! 
        <br><br>
        Avalie-se de 0 a 5 quanto aos conhecimentos especificados abaixo, 
        e tudo bem se não souber de muitas coisas, o importante é que seja sincero!
        <br>

        </div>
         
     <form action="" novalidate="novalidate" method="post">

        <div class="option">           
        
        <a for="skill"> Ionic </a> <a id="point">*</a><br><br>
        
        <label class="font1">Don't know/ Não conheço</lable>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required> 
        <label class="font2"> Senior </lable> 
        
        </div>
         
        <div class="option">           
        
        <a for="skill"> ReactJS </a> <a id="point">*</a><br><br>
        
        <label class="font1">Don't know/ Não conheço</lable>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required>
        <input type="radio" name="name" required> 
        <label class="font2"> Senior </lable> 
        
        </div>
       
        <div class="option">           
        
          <a for="skill"> React Native </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Android </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Flutter </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> IOS </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> HTML </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> CSS </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Bootstrap </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Jquery </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> AngularJs 1. </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Angular </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Java </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Python </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Flask </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Asp.Net MVC </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Asp.Net WebForm </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> C </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> C# </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> C++ </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> NodeJS </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Express-NodeJs </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Cake </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Django </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Majento </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> PHP </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Vue </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Wordpress </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> Ruby </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> MySQL Server </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> My SQL </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">           
        
          <a for="skill"> SalesForce </a> <a id="point">*</a><br><br>
          
          <label class="font1">Don't know/ Não conheço</lable>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required>
          <input type="radio" name="name" required> 
          <label class="font2"> Senior </lable> 
          
        </div>

        <div class="option">

          <label for="skill">
             Do you know any other language or framework that was not listed above? 
             Tell us and evaluate yourself from 0 to 5.<br><br>
             Conhece mais alguma linguagem ou framework que não foi listado aqui em cima?
             Conte para nos e se auto avalie ainda de 0 a 5. <a id="point">*</a>  

          </label><br><br>

          <input type="text" name="name" required>
          
        </div>  
        
     </form>

    <div class="buttonlocal">
          
          <span class="buttonfront">
            <form action="/src/views/pageFour.html"> 
              <button>Seguir</button> 
            </form>
          </span>

          <span class="buttonback">
            <form action="/src/views/pageTwo.html"> 
              <button>Voltar</button> 
            </form>      
          </span>
        
    </div>

</body>
</html>