<!DOCTYPE html>
<html lang="pt-br">
<head> 
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title> GRUD </title>
   
   <link rel="stylesheet" href="/public/styles/partials/painel.css">
     
</head>
<body>
      
   <div class="primebar">  
  
      <header class="bm" dir="auto" role="heading" aria-level="1">
        <a href="/src/views/index.html" >
          <img src="https://easycomtec.blob.core.windows.net/easycomtec/logo-header.png" title="logo">
            </a>

           <br>  COMMUNICATION <br>& <br>TECHNOLOGY
           
      </header>    
             
   </div>
   
   <div class="navbar" id="myNavbar">
    <ul class="navbar-left">
      <li><a href="#">Conhecimentos</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contatos</a></li>
      <li><a href="#">Entrevistas</a></li>
      <li><a class="home" href="#">Home</a></li>
      
    </ul>
    <ul class="navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Logoff  / Sair </a></li>
      <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Your Account / Sua Conta </a></li>
    </ul>
  </div>
</div>
</nav>


</body>
</html>