
.primebar{
  padding: 20px 20px 20px 10px;
}
.bm{
 text-align: center;
 font-size: 23px;
 color: #770014; 
 }

.navbar img{
 width: 50px;
 height: 50px;
 position: relative;          
}


.intro{
 
 font-size: 20px;
 font-family: Century Gothic;
 line-height: 130%;
 text-align: center;
 color: #02213f;
 border-top: 3px solid;
 position: relative;
 padding-top: 20px;
}

input[type=text], input[type=password], input[type=email] {
  width: 100%;
  padding: 15px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 20px;
}

button{
  background-color: #0489aa;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer; 
}

.buttonfront{
  margin-top: 1px;
  position: absolute;
  margin-left: 65%;
}

.buttonback{
  margin-top: 1px;
  position: absolute;
  margin-left: 30%; 
}

button:hover {
  opacity: 0.8;
}

.option{
  
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 7px;
  border: 1px solid #0489aa;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;

}
.option1{
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 7px;
  border: 1px solid #0489aa;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
}
.option2{
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 7px;
  border: 1px solid #0489aa;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
}
.option3{
  margin-top: 30px;
  margin-left: 30%;
  margin-right: 30%;
  border-radius: 7px;
  border: 1px solid #0489aa;
  box-sizing: border-box;
  padding: 20px 20px 20px 20px;
}
#point{
  color: red;
}

@media only screen and (max-width: 400px){
  .option{
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  .option1{
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  .option2{
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }
  .option3{
    padding: 14px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
  }

  .buttonfront{
    margin-top: 1px;
    position: absolute;
    margin-left: 47%;
   
  }

  .buttonback{
    margin-top: 1px;
    position: absolute;
    margin-left: 30%;
   
  }
}